.repositories {
    width: 877px;
    margin-left: 87px;
}

.title {
    margin-top: 28px;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #000000;
}

.wrapper__repositories :hover {
    cursor: pointer;
    background: #f2f2f2;
}

.wrapper__title :hover {
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width: 1400px) {
    .repositories {
        width:80%
    }
}

@media screen and (max-width: 780px) {
    .repositories {
        margin: 0;
    }

    .title {
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .repositories {
        width: 280px;
    }
}